@import 'base/variables';
*{
    font-family: 'Museo', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'mobil_blocks/m-title';
@import 'mobil_blocks/m-catalog';
@import 'mobil_blocks/m-reviews';
