@media (max-width:390px){
    .catalog{
        &__tabs{
            flex-direction: column;
        }
        &__tab{
            margin: 10px;
        }
        &__content_active{
            justify-content: center;
        }
    }
}